@model HairSalon.Models.Stylist;
@{
    ViewData["Title"] = "Deatils";   
}


<h1>Stylist Details</h1>

<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Specialties:</strong> @Model.Specialties</p>

<a class="btn btn-primary" asp-action="Index">Back to List</a>
