@model List<HairSalon.Models.Stylist>

@{
    ViewData["Title"] = "Stylist";
}

<h1>List of Stylists</h1>

<div class="row mb-3">
    <div class="col">
        <form asp-action="Search" method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="name" placeholder="Search by stylist name" />
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stylist ID</th>
                <th>Name</th>
                <th>Specialties</th>
                <th></th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var stylist in Model)
            {
                <tr>
                    <td>@stylist.StylistId</td>
                    <td>@stylist.Name</td>
                    <td>@stylist.Specialties</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@stylist.StylistId">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No stylists found.</p>
}

<a class="btn btn-primary" asp-action="Create">Add New Stylist</a>
