@model List<HairSalon.Models.Client>
@{
    ViewData["Title"] = "Clients Deatils";

}

<h1>List of Clients</h1>

@if (Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Name</th>
                <th>Stylist ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td>@client.ClientId</td>
                    <td>@client.Name</td>
                    <td>@client.StylistId</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No clients found.</p>
}
